
/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c4c4c4;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: #29a3a3;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
body {
	background-color:white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text on pic*/
.piccenter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4{
	color: darkblue;

}
h3{
	color: darkblue;

}
p{
	color: white;
	top: 50%;
    left: 50%;


}

footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

* {box-sizing:border-box}



/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}