<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/css.css')}}">
    <link rel="icon" href="{{url_for('static',filename='image/logo.png')}}">
    <script type="text/javascript" herf="{{url_for('static',filename='js/java.js')}}>"></script>
	<title>About</title>
    <img src="{{url_for('static',filename='image/shoptitle.png')}}" width="180" height="80" alt="title" class="center"> 
<!---navi bar--->
<!-- Top navigation -->
<div class="topnav">

  <!-- Centered link -->
    <div class="topnav-centered">
    <a href="{{url_for('homepage')}}" >Home</a>
  </div>

  <!-- Left-aligned links (default) -->
  <a href="{{url_for('newarrival')}}">New arrival</a>
  <a href="{{url_for('contact')}}">Contact</a>
  <a href="{{url_for('product')}}">Product</a>
  <a href="{{url_for('about')}}"class="active">About</a>
  <!-- Right-aligned links -->
  <div class="topnav-right">
  <a href="{{url_for('preorder')}}">preorder</a>
  </div>

</div>
</head>
<body>
	<p style="color: black; text-align: center">
		We are a locol based gemstone accessory retailer founded in 2020,<br>
     selling our own fantsy designed necklace.<br>
    Feel free to order our product throught our pre-order function.
	</p>

</body>
<footer>@2020Jiaostone</footer>
</html>